@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #092240;
  color: #ffffff;
}

.padrao-content {
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}

.header {
  border-bottom: solid 0.5px #234b7d;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: 400;
}

.logo strong {
  font-weight: 700;
}

.header-menu {
  display: flex;
  gap: 30px;
}

.header-menu li {
  text-transform: uppercase;
  color: #7e8ba1;
  font-weight: 500;
  font-size: 1rem;
}

.header-menu li a {
  padding: 30px 0px;
  display: block;
  color: #7e8ba1;
  transition: ease-in 0.3s;
  border-bottom: solid 2px transparent;
}

.header-menu li a:hover {
  color: #ffffff;
  border-bottom: solid 2px #ffffff;
}

.zap {
  font-size: 1rem;
  display: block;
  padding: 10px 25px;
  color: #ffffff;
  border: solid 1px #ffffff;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 500;
  transition: ease-in 0.3s;
}

.zap:hover {
  color: #092240;
  background-color: #ffffff;
}

.zap-mobile {
  display: none;
}

@media (max-width: 700px) {
  .header-content {
    padding: 30px;
  }

  .header-content nav {
    display: none;
  }
}

@media (max-width: 400px) {
  .header-content {
    padding: 10px 20px 10px 20px;
  }
  .zap {
    display: none;
  }

  .zap-mobile {
    font-size: 1.8rem;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #081d36;
    border-radius: 50%;
  }
}

/* Main */

.main {
  padding: 30px;
  text-align: center;
}

.main h1 {
  font-size: 3.5rem;
  margin-top: 150px;
  padding: 0px 200px;
}

.main-lista {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-lista a {
  font-size: 1.7rem;
  background-color: #194478;
  color: #ffffff;
  display: flex;
  padding: 15px;
  border-radius: 7px;
  transition: ease-in 0.3s;
}

.main-lista a:hover {
  background-color: #0a2c55;
}

.video {
  position: relative;
  display: flex;
  justify-content: center;
}

.video iframe {
  border-radius: 7px;
  width: 80%;
  position: relative;
  bottom: -150px;
}

@media (max-width: 900px) {
  .main h1 {
    padding: 0px 100px;
  }
}

@media (max-width: 700px) {
  .main h1 {
    font-size: 2.8rem;
    padding: 0px 50px;
  }
}

@media (max-width: 500px) {
  .main {
    padding: 30px 20px;
  }
  .main h1 {
    padding: 0px;
    margin-top: 100px;
    font-size: 2.2rem;
  }

  .main-lista {
    gap: 10px;
    margin-top: 30px;
  }

  .main-lista a {
    font-size: 1.2rem;
  }

  .video iframe {
    width: 92%;
    height: 500px;
  }
}

@media (max-width: 400px) {
  .main h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 350px) {
  .main-lista a {
    font-size: 1.1rem;
    padding: 10px;
  }

  .video iframe {
    width: 95%;
    height: 340px;
  }
}

/* Seção de vídeos */

.secao-videos {
  background-color: #081d36;
  padding-bottom: 20px;
}

.secao-videos-content {
  padding: 60px;
}

.secao-videos h2 {
  padding-top: 250px;
  text-align: center;
  font-size: 3rem;
}

.secao-videos-lista {
  margin-top: 60px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.secao-videos-lista li {
  border: solid 3px #0b2546;
  border-radius: 7px;
  transition: ease-in 0.1s;
  flex: 1;
  display: flex;
}

.secao-videos-lista li a {
  color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.secao-videos-lista li:hover {
  border: solid 3px #2a5a95;
  transform: translate(0px, -5px);
}

.secao-videos-lista li h3 {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}

.secao-videos-lista li h3 span {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 10px;
}

.secao-videos-lista li p {
  border-top: solid 3px #0b2546;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.secao-videos-lista li p ion-icon {
  color: #2a5a95;
  font-size: 2rem;
}

@media (max-width: 900px) {
  .secao-videos-lista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .secao-videos-lista {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .secao-videos-content {
    padding: 20px;
  }

  .secao-videos h2 {
    padding-top: 150px;
    font-size: 2rem;
  }
}

/* Sobre */

.secao-sobre {
  height: 100vh;
  background-image: url("../img/doutor.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 45px;
  background-size: 76vh;
}

.secao-sobre-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
}

.sobre-info h2 {
  font-size: 3.5rem;
}

.sobre-info h3 {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 500;
}

.sobre-info-lista {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sobre-info-lista li {
  font-size: 1.2rem;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 5px;
}

.sobre-info-lista li img {
  padding-top: 2px;
}

@media (max-width: 1000px) {
  .secao-sobre {
    padding-bottom: 50px;
    height: 110vh;
    background-position-y: 115px;
    background-size: 76vh;
  }
}

@media (max-width: 800px) {
  .secao-sobre {
    height: 130vh;
    background-position-y: 285px;
    background-position-x: 385px;
    background-size: 76vh;
  }
}

@media (max-width: 700px) {
  .secao-sobre-content {
    grid-template-columns: 2fr 1fr;
  }

  .sobre-info h2 {
    font-size: 3.3rem;
    padding-top: 40px;
  }

  .sobre-info h3 {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 500;
  }
}

@media (max-width: 600px) {
  .secao-sobre {
    height: auto;
    background-image: none;
  }
  .secao-sobre-content {
    padding: 30px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .secao-sobre-content {
    padding: 30px;
    grid-template-columns: 1fr;
  }

  .sobre-info h2 {
    font-size: 2.2rem;
  }

  .sobre-info h3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 400px) {
  .secao-sobre-content {
    padding: 20px;
    grid-template-columns: 1fr;
  }

  .sobre-info h2 {
    font-size: 2.2rem;
  }

  .sobre-info h3 {
    font-size: 1.3rem;
  }
}

/* Redes Sociais */

.secao-redes {
  background-color: #081d36;
}

.secao-redes-content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.secao-redes h2 {
  text-align: center;
  font-size: 3rem;
}

.secao-redes-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.secao-redes-lista li {
  background-color: #194478;
  width: 200px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  transition: ease-in 0.3s;
  cursor: pointer;
  text-align: center;
}

.secao-redes-lista li:hover {
  background-color: #0a2c55;
}

.secao-redes-lista li h3 {
  margin-bottom: 5px;
}

.secao-redes-lista li div {
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  color: #081d36;
  margin-bottom: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}

@media (max-width: 400px) {
  .secao-redes-content {
    padding: 60px 20px;
    gap: 30px;
  }

  .secao-redes h2 {
    font-size: 2rem;
  }
}

/* Footer */

.footer {
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-lista {
  display: flex;
  gap: 10px;
}

.footer-lista a {
  display: flex;
  background-color: #ffffff;
  color: #081d36;
  padding: 10px;
  border-radius: 7px;
  transition: ease-in 0.3s;
}

.footer-lista a:hover {
  background-color: #7e8ba1;
}

@media (max-width: 500px) {
  .footer {
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap-reverse;
    padding: 20px;
  }

  .footer-lista {
    padding-top: 40px;
  }
}
